{% if level.meta.stats.graph.started|length > 20 %}
    Last 5 days
    <canvas id="myChart" width="100%" height="20"></canvas>
    <script>
    $(function() {
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [1,2,3,4,5],
                datasets: [{
                    label: 'Started',
                    data: {{ level.meta.stats.graph.started|raw }},
                    lineTension: 0,
                    fill: false,
                    pointRadius: 0
                }, {
                    label: 'Passed',
                    data: {{ level.meta.stats.graph.completed|raw }},
                    lineTension: 0,
                    fill: false,
                    pointRadius: 0,
                    borderColor: '#4caf50'
                }]
            },
            options: {
                animation: {
                    duration: 0
                },
                tooltips: {
                    enabled: false
                },
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        position: 'right',
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 2,
                            beginAtZero:true,
                            padding: 6
                        },
                    }],
                    xAxes: [{
                        display: false
                    }]
                }
            }
        });
    });
    </script>
{% else %}
    <div class="small">Not enough data to generate activity chart</div>
{% endif %}