{% if user and notifications is iterable %}
    <div class="block">
        <div class="block-heading">
            <h3>Notifications</h3>
        </div>
        <div class="block-content">
            {% for notification in notifications|slice(0,5) %}
                {% if notification.message.short %}
                    <div class="feed-item">
                        <div class="notification {% if notification.unread %}notification--unread{% endif %}">
                            <div class="right">
                                {{ notification.created|ago(null, false, true) }}
                            </div>
                            {{ notification.message.short|raw }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}