{% extends 'emails/base.twig' %}

{% block html %}
    <tr>
        <td style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#333;" align="center">Welcome {{ username }}</td>
    </tr>

    <tr><td height="10">&nbsp;</td></tr>

    <tr>
        <td style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;" align="center">
            <p>Thank You for recently registering an account at <a href="https://defendtheweb.net" style='color: #2d3b4f'>Defend the Web</a>.</p>
        </td>
    </tr>
{% endblock %}