{% include 'playground/levels/basic.twig' ignore missing %}

<div style="margin-top: 3em">
    <h3>Browse members</h3>

    <div style="padding: 10px 0; overflow: hidden">
        {% for letter in range('A','Z') %}
            <a href="?q={{ letter }}" style="padding: 4px 0; margin: 1px; text-align: center; width: 25px; background: #eee; float: left; {{ letter == level.currentLetter ? 'background: #4caf50; color: white' : '' }}">
                {{ letter }}
            </a>
        {% endfor %}
    </div>


    {% if level.error %}
        <pre>{{ level.error }}</pre>
    {% endif %}

    <ul>
        {% for member in level.members %}
            <li>{{ member.username }}</li>
        {% endfor %}
    </ul>
</div>