{% set title = 'Articles' %}
{% set queue = queue('classes', 'sidebar', 'article') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide article-topics">
        {% include 'includes/flash.twig' %}

        <div class="block">
            <div class="block-content">
                <div class="row">
                    <div class="twelve columns">
                        {% include 'articles/article-picks.twig' with { articlePicks: articlePicks, older: true } only %}
                    </div>
                </div>

                <div class="row">
                    <div class="nine columns">
                        <div class="block feed article-topics">
                            <div class="block-heading"><h3>Topics</h3></div>
                            <div class="block-content">
                                {% if topics is iterable %}
                                    {% for topic in topics %}
                                        <div class="feed-item">
                                            <div class="feed-item-main">
                                                <div class="feed-item-header">
                                                    <a href='{{ thread.permalink }}' class="feed-item-count">
                                                        <div>{{ topic.articles|length }}</div>
                                                    </a>
                                                    <div class="feed-item-details">
                                                        <a href='{{ topic.permalink }}' class="feed-item-title">{{ topic.title }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        {% if drafts.articles is iterable %}
                            <div class="block feed article-topics">
                                <div class="block-heading"><h3>Your drafts</h3></div>
                                <div class="block-content">
                                    {% for article in drafts.articles %}
                                        <div class="feed-item">
                                            <div class="feed-item-main">
                                                <div class="feed-item-header">
                                                    <div class="feed-item-details">
                                                        <a href='{{ article.permalink }}' class="feed-item-title">{{ article.title }}</a>
                                                        <div class="small">
                                                            Created: {{ article.created|ago }}
                                                            {% if article.submitted %}
                                                             | Submitted: {{ article.submitted|ago }}
                                                            {% endif %}
                                                            {% if article.published %}
                                                             | Published: {{ article.published|ago }}
                                                            {% endif %}
                                                             | {{ article.status }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="three columns">
                        {% include 'includes/advert.twig' %}

                        {% include 'articles/submit.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}