// Remove chrome from input number
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-moz-inner-spin-button, 
input[type=number]::-moz-outer-spin-button,
input[type=number]::-o-inner-spin-button, 
input[type=number]::-o-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


input, textarea, select, fieldset {
    margin: 0;
}

input:not([type=radio]):not(.button), textarea, select {
    font-size: 13px;
    font-weight: 300;
    display: unset;
    line-height: normal;
    padding: 0 10px;
    min-height: 38px;
    width: 100%;
    border: 1px solid $accent;
    border-radius: 3px;
    transition: border-color ease-in-out .15s;
    color: $text;

    &[type=file] {
        border: none;
        padding: 0;
    }

    &:focus {
        border-color: $primary;
    }

    @include dark-mode {
        background-color: $dark_block_bg_secondary;
        color: $dark_text;
        border-color: $dark_accent;

        &:focus {
            border-color: $primary;
        }
    }
}

input[type=file] {
    background: none !important;
}

textarea {
    padding: 10px;
}

form {
    overflow: hidden; // Keep submit buttons inside
    position: relative;
    margin-bottom: 0;

    .input {
        overflow: hidden;
        margin-bottom: 1em;

        &.input--hidden {
            margin: 0;
            padding: 0;
        }

        &.input--prepend {
            display: flex;

            span {
                font-weight: bold;
                display: unset;
                background: $secondary_hover;
                line-height: 38px;
                padding: 0 10px;
                min-height: 38px;
                color: white;
                border-radius: 3px 0 0 3px;
            }

            input {
                border-radius: 0 3px 3px 0;
            }
        }

        label {
            font-size: 11px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 2px;

            text-transform: none;
            display: block;
            margin-bottom: .5rem;
            font-size: 1.3em;
            font-weight: 600;
        }

        .form-image-preview {
            position: relative;
            display: inline-block;
            margin-bottom: 1.5rem;

            .form-image-preview-remove {
                opacity: 0;
                background: rgba($error, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: opacity 0.3s;

                display: flex;
                justify-content: center;
                align-items: center;

                text-indent: -10000px;

                &::before {
                    @extend %fa-icon;
                    @extend .fas;
                    content: fa-content($fa-var-trash);

                    background: $error;
                    color: white;
                    font-size: 3rem;
                    line-height: 6rem;
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                    text-align: center;
                    cursor: pointer;
                    text-indent: 0;
                }
            }

            &:hover .form-image-preview-remove {
                opacity: 1;
            }

            img {
                display: block;
            }
        }

        select {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right .75rem center;
            background-size: 8px 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: calc(2.25rem + 2px);
        }

        textarea {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            min-height: 135px;
            padding: 10px;
        }

        &.input--checkbox {
            label {
                font-size: 1em;
                line-height: 1.2em;
            }
        }

        input[type=checkbox] {
            width: auto;
            float: left;
            min-height: auto;
            margin: 2px 8px;
        }


        .toggle {
            input[type=radio] {
                &::before {
                    content: attr(data-label);
                }

                &::after {
                    content: "";
                }

                background-color: $accent;

                &:hover {
                    color: $primary !important;
                }

                &:checked {
                    background-color: $primary !important;
                    color: white;

                    &:hover {
                        color: white !important;
                    }
                }

                @include dark-mode {
                    background-color: $dark_accent;
                    color: white;
                }
            }
        }

        &.input--repeater {
            .row {
                margin: 0.8em 0;
            }
        }



        .markdown-editor {
            border-radius: 3px;

            .editor-toolbar {
                border: 1px solid $accent;
                border-bottom: 0;
                border: 0;
                background: $secondary;
                opacity: 1;

                i.separator {
                    border-left-color: $header_secondary_bg;
                    border-right: none;

                    @include dark-mode {
                        border-left-color: $dark_accent;
                    }
                }

                a {
                    color: #ddd !important;
                    border: none;
                    background: none! important;
                    font-size: 0.8em;

                    &:hover {
                        background: $secondary_hover !important;
                    }
                }

                &.disabled-for-preview a {
                    &:not(.no-disable) {
                        opacity: 0.2;
                    }

                    &.fa-eye {
                        background: $primary !important;
                    }
                }
            }

            .editor-statusbar {
                padding: 0;

                > span {
                    min-width: 0;
                }

                .help {
                    float: left;
                    margin-left: 0;
                }
            }

            .editor-preview {
                background: $block_bg;

                @include dark-mode {
                    background-color: $dark_block_bg;
                }
            }

            .cm-s-paper {
                border-radius: 0;
                border: 1px solid $accent;
                cursor: text;
                color: $text;

                @include dark-mode {
                    color: $dark_text;
                    border-color: $dark_accent;
                    background-color: $dark_block_bg_secondary;

                    pre {
                        background: none;
                        color: $dark_text;
                    }

                    .CodeMirror-cursor {
                        border-color: $dark_text;
                    }
                }
            }

            @include dark-mode {
                background-color: $dark_block_bg;
                .editor-toolbar {
                    border-color: $dark_accent;
                }
            }
        }
    }

    .input-description {
        p {
            margin-bottom: 0.6em;

            span {
                font-family: $text_mono_font;
                color: $primary;
            }
        }
    }

    @media (max-width: $mobileWidth) {
        width: 100%;

        .input label {
            text-align: left;
        }
    }
}

.autocomplete-output {
    position: absolute;
    background: $accent;
    box-shadow: $block_shadow;

    min-width: 250px;

    z-index: 750;

    @include dark-mode {
        background: $dark_overlay_bg;
        box-shadow: $dark_block_shadow;
    }

    ul {
        list-style: none;
        margin-bottom: 0;

        li {
            margin: 0;
            padding: 0.4em 1em;
            cursor: pointer;

            &:hover {
                background: $secondary;
                color: white;
            }
        }
    }
}

html.no-js {
    body:not(.auth) form .input .markdown-editor {
        .markdown-editor-controls {
            display: none;
        }

        textarea {
            width: 100%;
        }

        .markdown-editor-preview {
            display: none;
        }
    }
}