table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background: $secondary;
        color: white;

        @include dark-mode {
            background: $dark_block_bg_secondary;
        }

        th {
            color: white;
            font-size: 1em;
            padding: 10px 15px;
            font-weight: bold;
        }
    }

    tr {
        &:nth-child(2n) {
            background: $accent;

            @include dark-mode {
                background: $dark_accent;
            }

            .progress {
                background: white;

                @include dark-mode {
                    background: $dark_accent;
                }
            }
        }

        td,
        th {
            text-align: left;
            white-space: nowrap;
            vertical-align: middle;
            border: none;
        }

        td {
            padding: 10px 15px;

            small {
                display: block;
                font-size: 0.9em;
            }
        }
    }
}