{% set queue = queue('classes', 'sidebar', 'moderation') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container moderation-queues">
        <div class="block">
            <div class="block-heading">
                <h1>{{ title }}</h1>
            </div>
            <div class="block-content">
                <div class="feed">
                    {% include 'includes/flash.twig' %}

                    {% for key, queue in queues %}
                        <div class="feed-item {{ queue.count > 0 and queue.access ? 'feed-item--active' : 'feed-item--inactive' }}">
                            <div class="feed-item-main">
                                <div class="feed-item-header">
                                    <div class="queue-count">
                                        {{ queue.count ? queue.count : 0 }}
                                        <span>post{{ queue.count == 1 ? '' : 's' }}</span>
                                    </div>
                                    <div class="feed-item-details">
                                        <a href='/moderation/discussions/{{ key }}' data-href="permalink" class="feed-item-title">
                                            <h4>{{ queue.title }}</h4>
                                        </a>
                                        <div class="small">
                                            {{ queue.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="block">
            <div class="block-heading">
                <h1>Logs</h1>
            </div>
            <div class="block-content">
                <ul class="list">
                    {% for flag in logs %}
                        <li>
                            <a href='/moderation/discussions/{{ flag.type }}/{{ flag.flag_id }}'>
                                #{{ flag.flag_id }}
                                {{ flag.resolved == 1 ? 'actioned' : 'dismissed' }}

                                [
                                    {{ queues[flag.type].title }}
                                    {% if flag.comment %}
                                        - {{ flag.comment }}
                                    {% endif %}
                                ]

                                with {{ flag.votes.deleteVotes }} against {{ flag.votes.dismissVotes }}

                                <div class="right">
                                    {{ flag.time|ago }}
                                </div>
                            </a>
                        </li>                        
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}