{% if breadcrumb|length > 1  %}
    <!-- <div class="mobile-hide row">
        <a href='{{ breadcrumb|slice(0, breadcrumb|length - 1)|last }}' class='back'><i class="fa fa-arrow-circle-left"></i> BACK</a>
    </div> -->
{% endif %}