{% if canonical %}

    <div class="block block--share">
        <div class="block-heading"><h3>Share</h3></div>
        <div class="block-content">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ canonical|url_encode }}" target="_blank" rel="nofollow noopener noreffer"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/intent/tweet?text={{ (title ~ ' - ' ~ canonical)|url_encode }}" target="_blank" rel="nofollow noopener noreffer"><i class="fab fa-twitter"></i></a>
            <a href="https://www.reddit.com/submit?url={{ canonical|url_encode }}&title={{ title|url_encode }}" target="_blank" rel="nofollow noopener noreffer"><i class="fab fa-reddit"></i></a>
            <a href="https://digg.com/submit?phase=2&url={{ canonical|url_encode }}&title={{ title|url_encode }}" target="_blank" rel="nofollow noopener noreffer"><i class="fab fa-digg"></i></a>
        </div>
    </div>

{% endif %}